<header class="text-center bg-orange-400 px-3 py-5">
  <h1 class="text-4xl font-bold text-gray-900">
    {{ "HOME.TITLE" | translate }}
  </h1>

  <div class="flex items-center justify-center mt-4">
    <label class="mr-2 text-gray-700">
      {{ "HOME.SELECT" | translate }}
      <select #langSelect (change)="translate.use(langSelect.value)" 
      class="px-2 py-2 border rounded"  
      >
        <option
          *ngFor="let lang of translate.getLangs()"
          [value]="lang"
          [selected]="lang === translate.currentLang"
        >
          {{ lang }}
        </option>
      </select>
    </label>
  </div>
</header>
<div class="bg-gray-400"> 
<div class="text-center" [innerHTML]="'HELLO.MESSAGE' | translate"></div>
<div class="flex justify-center">
  <input type="text" [placeholder]="'HOME.PLACEHOLDER' | translate"  
   class="w-full md:w-1/2 lg:w-1/3 px-3 py-2 border rounded-lg text-center mt-5"/>
</div>
  <app-shopping-card-list></app-shopping-card-list>
</div>


<!--

<div class="min-h-screen flex items-center justify-center bg-gray-100">
 
 
  <div>
    <p>{{ "ROLES." + roles | uppercase | translate }}</p>
  </div>

  <div>
  
    <br />
    <button>{{ "HOME.BUTTON" | translate }}</button>
  </div>
</div> -->
